In [1]:
import pandas as pd

Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [53]:
movies = pd.read_csv(r"C:\Users\Мария\Desktop\movies.csv")
data = pd.read_csv(r"C:\Users\Мария\Desktop\ratings.csv")

In [54]:
hight_ratings = data[ (data['rating'] == 5.0) ]
hight_ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
8              1     1237     5.0  1147868839
18             1     2632     5.0  1147878248
...          ...      ...     ...         ...
25000065  162541     5952     5.0  1240952617
25000067  162541     6104     5.0  1240953565
25000078  162541     7153     5.0  1240952613
25000080  162541     7193     5.0  1240950032
25000094  162541    63876     5.0  1240952515

[3612474 rows x 4 columns]

In [55]:
hight_ratings.groupby('movieId').count().sort_values('rating', ascending = False, inplace=True)
joined = hight_ratings.merge(movies, on='movieId', how='left')
joined.filter(items = ['movieId', 'rating', 'title']).head(1)

   movieId  rating                title
0      296     5.0  Pulp Fiction (1994)

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [120]:
data = pd.read_csv(r"C:\Users\Мария\Desktop\power.csv")
df = data[(data['country'] == 'Lithuania') | (data['country'] == 'Latvia') | (data['country'] == 'Estonia')]
bal = df[(df.year > 2005) & (df.year <= 2010) & (df['quantity'] > 0) & ((df.category == 12) | (df.category == 21) | (df.category == 4))]
bal.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
12755    Estonia  2008       1.0         4
13294  Lithuania  2008       1.0         4

In [121]:
print(bal['quantity'].sum())

203416.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes

In [135]:
page_url = 'https://en.wikipedia.org/wiki/List_of_highest_scores_in_figure_skating'

#таблица рекородов фигурного катания
df = pd.read_html(page_url, attrs = {'class': 'wikitable'}, encoding='utf-8')
df[:5]

In [141]:
url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df2 = pd.read_html(url, attrs = {'class': 'quote_list'}, encoding='utf-8')
df2[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1353320      -              1267431
 1          NaN            EUR/RUB      1447915      -              1448360
 2          NaN            USD/RUB      1027500      -               965000
 3          NaN            JPY/RUB        08679      -                08117
 4          NaN            CNY/RUB       161888      -               151914
 5          NaN            CHF/RUB      1100343      -              1024960
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11136      -                11018
 8          NaN            EUR/GBP        08455      -                08390
 9          NaN            EUR/JPY      1318490      -              1309640
 10         NaN            EUR/CHF        10401      -                10372
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08980      -                09077
 13         NaN            USD/GBP        07592      -                07614
 14         NaN            USD/JPY      1183935      -              1188845
 15         NaN            USD/CHF        09340      -                09414
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07600      -                07600
 18         NaN            JPY/GBP        00064      -                00064
 19         NaN            JPY/USD        00085      -                00084
 20         NaN    JPY/CHF (100:1)        07900      -                07900
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13169      -                13134
 23         NaN            GBP/JPY      1559354      -              1561488
 24         NaN            GBP/EUR        11828      -                11921
 25         NaN            GBP/CHF        12300      -                12364
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12300      -                12364
 28         NaN            EUR/CHF        10401      -                10372
 29         NaN    JPY/CHF (100:1)        07900      -                07900
 30         NaN            USD/CHF        09340      -                09414
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       329737      -               324573
 33         NaN            USD/UAH       296087      -               294625
 34         NaN            CHF/UAH       317010      -               312931
 35         NaN            GBP/UAH       389976      -               386960

          %  Абсолютное значение     Время
 0    6,78%                85889  20:08:00
 1   -0,03%               -00445  15:41:00
 2    6,48%                62500  20:07:00
 3    6,93%                00562  20:08:00
 4    6,57%                09974  20:08:00
 5    7,35%                75383  20:08:00
 6        %  Абсолютное значение     Время
 7    1,07%                00118  20:08:00
 8    0,78%                00066  20:08:00
 9    0,68%                08850  20:08:00
 10   0,27%                00029  20:08:00
 11       %  Абсолютное значение     Время
 12  -1,07%               -00097  20:08:00
 13  -0,28%               -00021  20:08:00
 14  -0,41%               -04910  20:08:00
 15  -0,79%               -00074  20:08:00
 16       %  Абсолютное значение     Время
 17  -0,66%               -00001  20:08:00
 18   0,16%                00000  20:08:00
 19   0,42%                00000  20:08:00
 20  -0,38%                00000  20:08:00
 21       %  Абсолютное значение     Время
 22   0,27%                00035  20:08:00
 23  -0,14%               -02134  20:08:00
 24  -0,78%               -00094  20:08:00
 25  -0,52%               -00064  20:08:00
 26       %  Абсолютное значение     Время
 27  -0,52%               -00064  20:08:00
 28   0,27%                00029  20:08:00
 29  -0,38%                00000  20:08:00
 30  -0,79%               -00074  20:08:00
 31       %  Абсолютное значение     Время
 32   1,59%                05164  20:08:00
 33   0,50%                01463  20:07:00
 34   1,30%                04078  20:08:00
 35   0,78%                03016  20:08:00  ]